<div class="col-12 col-md-6">
    <div class="form-group">
        <label for="account-fn">Username</label>
        <input class="form-control" type="text" id="account-fn" value="Daniel" required="">
    </div>
</div>
<div class="col-12 col-md-6">
    <div class="form-group">
        <label for="account-fn">First Name</label>
        <input class="form-control" type="text" id="account-fn" value="Daniel" required="">
    </div>
</div>
<div class="col-12 col-md-6">
    <div class="form-group">
        <label for="account-ln">Last Name</label>
        <input class="form-control" type="text" id="account-ln" value="Adams" required="">
    </div>
</div>
<div class="col-12 col-md-6">
    <div class="form-group">
        <label for="account-ln">Last Name 2</label>
        <input class="form-control" type="text" id="account-ln" value="Adams" >
    </div>
</div>
<div class="col-12 col-md-6">
    <div class="form-group">
        <label for="account-email">E-mail Address</label>
        <input class="form-control" type="email" id="account-email" value="daniel.adams@example.com" disabled="">
    </div>
</div>